
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="../static/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/786f841f88.js"></script>
    <style>
    .predict-font {
	font-family: 'Roboto', sans-serif;
	font-size: large;
    }
    </style>
</head>
<body>
<div class="main">
    <div class="wrapper">
        <div class="row">
            <div class="column"> <img src="/static/experion_logo.svg"></div>
            <div class="column text-color" style="text-align: right;"><h3>Damage Analysis Demo</h3></div>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
                <div class="row p-2 card-header">
                        <div style="text-align:left;">
                            <button class="btn btn-primary" name="button" onclick="sendRequest()">PREDICT DAMAGE</button>
                        </div>
        
                        <div class="image-title-wrap" style='margin-left:10px;'>
                        <button type="button" onclick="removeUpload()" class="remove-image">
                            <!-- REFRESH<span class="image-title"></span> -->
                            <i class="fa fa-refresh" aria-hidden="true"></i>

                        </button>
                    </div>
        
                    </div>
            <div class="area">
                <div id="dropZone">

                    <div id="upload-area">
                        <img src="/static/drag_drop.svg">
                        <img id="image-upload" src="" />
                        <input type="file" multiple id="imgInp" class="file-upload-input" onchange="readURL(this);" accept="image/*" style="display:none">

                        <h1>DRAG & DROP</h1>
                        <p>or <a href="#" id="upload-link">Browse</a> image from your folder</p>
                        <small>(Individual file size limit 1MB)</small>

                    </div>

                     <div class="image-container file-upload-content" id="file-upload-content" >

                        
                        <span >
                                <img class="file-upload-image" id="file-upload-image" src="" alt="" />

                        </span>

                    </div>
                </div>
            </div>

            <!-- <P class="upload">UPLOAD:</P> -->
           
            <div id="results">

            </div>

         

        </div>

    </div>
    <script>
        $('#upload-link').click(function () { $('#imgInp').trigger('click'); });

        var src = null;
        var images = {};

        function readURL(input) {
            if (input.files && input.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    src = input.files[0]
                    // console.log('src',src);
                    $('#upload-area').hide();
                    //$('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                };
                //reader.readAsDataURL(input.files[0]);
                // console.log('input.files[0]',input.files[0])
                var content = document.getElementById('file-upload-content');
                [].forEach.call(input.files, function (file) {
                    var imageReader = new FileReader();
                    imageReader.onload = function (e) {
						var container = document.createElement('div');
			container.setAttribute('class', 'card-block');
                        var image = document.createElement('img');
                        image.setAttribute('src', e.target.result);
						image.setAttribute('class', 'file-upload-image file-upload-content-block');
						//var span = document.createElement('span');
						//span.innerHTML = file.name;
                        container.appendChild(image);
						//container.appendChild(span);
						content.appendChild(container);
						var fileName = file.name.split('.')[0].replace(' ', '_');
						container.setAttribute('id', fileName);
                        images[fileName] = file;
                    }
                    imageReader.readAsDataURL(file);
                });
                $('#upload-area').hide();
                $('.file-upload-content').show();
            } else {
                removeUpload();
            }
        }


        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('#upload-area').show();
            location.reload();
        }

        // providing the drag and drop functionality
        var el = document.getElementById('dropZone');

        function stop_and_prevent(e) {
            e.stopPropagation();
            e.preventDefault();
        }
        // function load_images()

        function load_images(files) {
            //var images = document.getElementById("file-upload-content");
            var content = document.getElementById('file-upload-content');
            [].forEach.call(files, function (file) {
                src = file
                if (file.type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        $('#upload-area').hide();
                        $('.file-upload-content').show();
						var container = document.createElement('.file-upload-content-block');
                        var image = document.createElement('img');
                        image.setAttribute('src', event.target.result);
						image.setAttribute('class', 'file-upload-image');
                        container.appendChild(image);
						//var span = document.createElement('span');
						//span.innerHTML = file.name;
						//container.appendChild(span)
						content.appendChild(container);
						var fileName = file.name.split('.')[0].replace(' ', '_');
						container.setAttribute('id', fileName);
                        images[fileName] = file;
                    }
                    reader.readAsDataURL(file);
                }
            });
        }

        function onDrop(e) {
            stop_and_prevent(e);
            load_images(e.dataTransfer.files);
            return false;
        }

        el.addEventListener('dragenter', stop_and_prevent);
        el.addEventListener('dragover', stop_and_prevent);
        el.addEventListener('drop', onDrop);

        // $('.file-upload-content').bind('dragenter',function(e){
        //   e.stopPropagation();
        //   e.preventDefault();+++
        // });
        // $('.file-upload-content').bind('dragover', function (e) {
        //   e.preventDefault();
        // 		$('.image-upload-wrap').addClass('image-dropping');
        // 	});
        // 	$('.image-upload-wrap').bind('dragleave', function () {
        // 		$('.image-upload-wrap').removeClass('image-dropping');
        // });



        function sendRequest(event) {
            var formData = new FormData();
            for (let key in images) {
                formData.append('file', images[key]);
            }

            fetch('http://localhost:12000/multiimgdamagedet', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.status === 200)
                    return response.json()
                else console.log('response !== 200', response)
            })
                .then(data => {
                    console.log('successs', data)
					document.getElementById('results').innerHTML = '';
					for(key in data.result){
						var container = document.createElement('div');
						var span = document.createElement('span');
						//span.setAttribute('class', 'row');
						span.setAttribute('style', 'position:relative; display: none !important; width:100%');
						span.innerHTML = '<b>' +  images[key].name + '</b><br />';
						container.setAttribute('class', 'row'); 
		                var table = document.createElement('table');
		                table.setAttribute('class', 'table table-striped thead-inverse');
		                var header = table.createTHead();
		                var thComponent = document.createElement('th');
				thComponent.setAttribute('class', 'predict-font');
		                var thStatus = document.createElement('th');
				thStatus.setAttribute('class', 'predict-font');
		                header.appendChild(thComponent).innerHTML = 'Component';;
		                header.appendChild(thStatus).innerHTML = 'Status';
		                data.result[key].forEach(function (val, idx) {
		                    var row = table.insertRow(idx);
		                    var component = row.insertCell(0);
				    component.setAttribute('class', 'predict-font');
		                    var status = row.insertCell(1);
		                    component.innerHTML = val['cat'];
                            var statusP = document.createElement('p')
                            statusP.setAttribute('class', val['stat'] == 'NO DAMAGE' ?  'green' : 'red');
                            statusP.innerHTML = val['stat'];
                            status.appendChild(statusP)
							
		                });
						container.appendChild(span);
						container.appendChild(table);
		                document.getElementById(key).appendChild(container);
					}
                }).catch((error) => {
                    console.log('failed', error)
                })
        }

    </script>
</body>
</html>
