
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
                <div class="row">
                    <div class="column"> <img src="experion_logo.svg"></div>
                    <div class="column text-color text-righ"  style="text-align: right;"><h3>Damage Analysis Demo</h3></div>
                </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1 style="font-size: 20px; margin-top: 0px;">DAMAGES</h1>
                </div>
                <div class="row pt-20">
                    <div class="column-100 upload-full">
                        <img src="images.jpg">
                    </div>
                </div>
                <div class="alert alert-danger">
                        <div class="row">
                            <div class="column"><p>Status:<strong> Damage Detected</strong></p></div>
                            <div class="column text-right"><p>Type:<strong> Non-Peril</strong></p></div>
                        </div>
                    </div>
                    <div class="row pt-20">
                            <div class="column-100 upload-full">
                                <img src="images.jpg">
                            </div>
                        </div>
                        <div class="alert alert-danger">
                                <div class="row">
                                    <div class="column"><p>Status:<strong> Damage Detected</strong></p></div>
                                    <div class="column text-right"><p>Type:<strong> Non-Peril</strong></p></div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                    <div class="column-100 upload-full">
                                        <img src="images.jpg">
                                    </div>
                                </div>
                                <div class="alert alert-danger">
                                        <div class="row">
                                            <div class="column"><p>Status:<strong> Damage Detected</strong></p></div>
                                            <div class="column text-right"><p>Type:<strong> Non-Peril</strong></p></div>
                                        </div>
                                    </div>
                <div class="row">
                    <div class="colume download-text">
                        <a href="#"><h2><img src="download.svg" style="width: 20px;"> Download as pdf</h2></a>
                    </div>
                    <div class="colume button-right">
                        <button>UPLOAD NEW</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
